<app-header></app-header>
<div *ngIf="entity && token" class="row">
  <div class="col-md-12">
    <h4>{{ entity.entity.processedData.name }}</h4>
    <div>Entity Id: <a href="{{token.organizationUrl}}entity/{{entity.entity['attribute-id']}}" target="_blank">
      {{ entity.entity['attribute-id'] }}</a></div>
    <div>Entity Type: <code>{{ entity.entity.processedData.entityType }}</code></div> <!-- TODO: make a link to search -->
    <div>Origin Entity Code: <code>{{ entity.entity.processedData['attribute-origin'] }}</code></div>
    <div>Codes:</div>
    <ul>
      <li *ngFor="let code of entity.entity.processedData.codes"><code>{{code}}</code></li>
    </ul>
    <div>Properties:</div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Vocabulary Key</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let property of properties">
          <th scope="row">{{ property.vocabularyKey }}</th>
          <td>{{ property.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>