<app-header></app-header>
<div *ngIf="entity && token" class="row">
  <div class="col-md-12">
    <h5><a href="{{token.organizationUrl}}entity/{{entity.entity['attribute-id']}}" target="_blank">
      {{entity.entity.processedData.name }}
    </a><sup>{{ entity.entity.processedData.entityType }}</sup></h5>
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="currentTab === 'properties' ? 'active' : ''"
            (click)="selectTab('properties')">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="currentTab === 'relations' ? 'active' : ''"
            (click)="selectTab('relations')">Relations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="currentTab === 'graph' ? 'active' : ''" (click)="selectTab('graph')">Graph</a>
        </li>
      </ul>
      <br />
    </div>
  </div>
  <div *ngIf="entity && token && currentTab === 'properties'" class="row">
    <div class="col-md-12">
      <div>Origin Code: <span class="font-monospace">{{ entity.entity.processedData['attribute-origin'] }}</span></div>
      <div>Codes:</div>
      <ul>
        <li *ngFor="let code of entity.entity.processedData.codes"><span class="font-monospace">{{code}}</span></li>
      </ul>
      <div>Properties:</div>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Vocabulary Key</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of properties">
            <th scope="row">{{ property.vocabularyKey }}</th>
            <td>{{ property.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="entity && token && currentTab === 'relations'" class="row">
    <div class="col-md-12">
      <app-entity-relations [id]="entity.entity['attribute-id']" [token]="token"></app-entity-relations>
    </div>
  </div>
  <div *ngIf="entity && token && currentTab === 'graph'" class="row">
    <app-entity-graph [id]="entity.entity['attribute-id']" [token]="token"></app-entity-graph>
  </div>
</div>